body {
    margin-top: 20px;
    background-color: papayawhip;
}

.sidebar-nav {
    padding: 10px;
    list-style: none;
}

.bottom-text {
    position: fixed;
    bottom: 5%;
    width: 100%;
    text-align: justify;
}
