<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
  <div class="sidebar-inner px-4 pt-3">

    <ul class="nav flex-column pt-3 pt-md-0">
      <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
        <a href="{% url "kitchen:index" %}" class="nav-link">
          <span class="sidebar-text">Mate Kitchen</span>
        </a>
      </li>
      <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>

      <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
        <a href="{% url "kitchen:cook-list" %}" class="nav-link">
          <span class="sidebar-text">Cooks</span>
        </a>
      </li>

      <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
        <a href="{% url "kitchen:dish-list" %}" class="nav-link">
          <span class="sidebar-text">Dishes</span>
        </a>
      </li>

      <li class="nav-item {% if 'transactions' in segment %} active {% endif %}">
        <a href="{% url "kitchen:dish-type-list" %}" class="nav-link">
          <span class="sidebar-text">Dish Types</span>
        </a>
      </li>

      <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
      <li class="nav-item">
        <a href="{% url 'logout' %}" class="nav-link">
            <span class="sidebar-text">Logout</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="{% url 'kitchen:under-construction' %}" class="btn btn-secondary d-flex align-items-center justify-content-center btn-upgrade-pro">
          <span>Support</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
