{% extends "base.html" %}

{% block content %}
  <h1>Restaurant Kitchen</h1>
  <br>
  <h3>Cook: {{ cook.first_name }} {{ cook.last_name }}</h3>
  <h5>Years of experience: {{ cook.years_of_experience }}</h5>
  <a href="{% url 'kitchen:cook-update' cook.pk %}" class="btn btn-secondary">Update</a>
  <br>
  <br>

  <div class="ml-5">
    <h5>Dishes:</h5>
      {% for dish in cook.dishes.all %}
        <hr>
        <p>id: {{ dish.id}}</p>
        <p><a href="{% url 'kitchen:dish-detail' dish.pk %}">{{ dish.name }}</a> ({{ dish.dish_type.name }})</p>
      {% empty %}
        <p>Dish is temporarily unavailable</p>
      {% endfor %}
  </div>

{% endblock %}
