{% extends "base.html" %}

{% block content %}
  <h1>Restaurant Kitchen</h1>
  <br>
  <h4>Dish: {{ dish.name }}</h4>
  <br>
  <h5>Dish Type: {{ dish.dish_type.name }}</h5>
  <br>
  <div class="ml-5">
    <h6>Cooks:</h6>
      {% for cook in dish.cooks.all %}
        <hr>
        <p>id: {{ cook.id }} - <a href="{% url 'kitchen:cook-detail' cook.pk %}">{{ cook.username }}</a></p>
        <p>{{ cook.first_name }} {{ cook.last_name }} (years of experience: {{ cook.years_of_experience }})</p>
      {% empty %}
        <p>Cook is temporarily unavailable</p>
      {% endfor %}
  </div>
{% endblock %}