{% extends "base.html" %}

{% block content %}
  <hr>
  <h1 style="text-align: center">Mate Restaurant</h1>
  <br>
  <h3 style="text-align: center">Kitchen Management System</h3>
  <br>
  <div class="row">
    <div class="col-12 col-sm-6 col-xl-4 mb-4" style="text-align: center">
      <a href="{% url 'kitchen:cook-list' %}">
      <div class="card border-0 shadow">
        <div class="card-body">
          <div class="row d-block d-xl-flex align-items-center">
            <h2 class="h6 text-gray-400 mb-0">Cooks</h2>
            <h3 class="fw-extrabold mb-2">{{ num_cooks }}</h3>
          </div>
        </div>
      </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-xl-4 mb-4" style="text-align: center">
      <a href="{% url 'kitchen:dish-list' %}">
      <div class="card border-0 shadow">
        <div class="card-body">
          <div class="row d-block d-xl-flex align-items-center">
            <h2 class="h6 text-gray-400 mb-0">Dishes</h2>
            <h3 class="fw-extrabold mb-2">{{ num_dishes }}</h3>
          </div>
        </div>
      </div>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-xl-4 mb-4" style="text-align: center">
      <a href="{% url 'kitchen:dish-type-list' %}">
      <div class="card border-0 shadow">
        <div class="card-body">
          <div class="row d-block d-xl-flex align-items-center">
            <h2 class="h6 text-gray-400 mb-0">Dish Types</h2>
            <h3 class="fw-extrabold mb-2">{{ num_dishtypes }}</h3>
          </div>
        </div>
      </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4">
      <div class="card bg-yellow-100 border-0 shadow">
        <div class="card-header d-sm-flex flex-row align-items-center flex-0">
          <div class="d-block mb-3 mb-sm-0">
            <div class="fs-5 fw-normal mb-2">Sales Value</div>
            <h2 class="fs-3 fw-extrabold">$10,567</h2>
            <div class="small mt-2">
              <span class="fw-normal me-2">Yesterday</span>
              <span class="fas fa-angle-up text-success"></span>
              <span class="text-success fw-bold">10.57%</span>
            </div>
          </div>
          <div class="d-flex ms-auto">
            <a href="{% url 'kitchen:total-orders-month' %}" class="btn btn-secondary text-dark btn-sm me-2">Month</a>
            <a href="{% url 'kitchen:total-orders-week' %}" class="btn btn-secondary text-dark btn-sm me-2">Week</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
